<div class="banner" style="height: 90vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.thegreatfoodcompany.co.uk/img/gfc-main-grazing.jpg);">
  <div class="container d-flex flex-column justify-content-center " style="width: 70%">
    <div>
    <h1 class="text-success">Quality food, right in the comfort of your home.</h1>
    <p class="text-info">RentaChef allows you to experience a restaurant-like moment, while never leaving your home.</p>
    </div>
    <a class="btn btn-success text-primary rounded justify-content-center" style="width: 50%" href="/chefs">Browse our scrumptious offers</a>
  </div>
</div>
