.profile-picture {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture img {
  width: 80%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.card-item {
  overflow: hidden;
  height: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #574D68;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.24);
}

.chefs-texts {
  margin: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: rgb(242, 232, 109);
}

.specialties {
  color: rgb(198, 161, 91);
}

.title-chef {
  color: black;
  margin: 40px;
}

.card-item {
  text-decoration: none;
}
