.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.maps{
 width: 550px;
 height: 400px;
 margin-right: 19px;
//  position: fixed;
}

.infowindows {
  text-decoration: none;
  border: none;
}

// .containermaps {
//   border-radius: 10%;
// }



// .mapcard{
//   width: 1200px;
// }
